<div class="panel__user">
        <ul class="panel-side-nav">
            <li class="panel-side-nav__item  <%= path === '/user' ? 'panel-side-nav__item--active' : '' %>">
                <a href="/user" class="panel-side-nav__link">
                    <span class="panel-side-nav__icon fas fa-calendar-day"></span>  <span>Events</span>
                </a>
            </li>
            <li class="panel-side-nav__item <%= path === '/user/add-event' ? 'panel-side-nav__item--active' : '' %>">
                <a href="/user/add-event" class="panel-side-nav__link">
                    <span class="panel-side-nav__icon fas fa-plus"></span><span>Add Event</span>
                </a>
            </li>
            <li class="panel-side-nav__item <%= path === '/user/orders' ? 'panel-side-nav__item--active' : '' %>">
                <a href="/user/orders" class="panel-side-nav__link">
                    <span class="panel-side-nav__icon fas fa-shopping-basket"></span><span> Orders</span>
                </a>
            </li>
            <li class="panel-side-nav__item">
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="panel-side-nav__link"><span class="panel-side-nav__icon logout_icon fas fa-power-off"></span>Logout</button>
                </form>
            </li>
        </ul>
        <div class="power">
           <span>Copyrighted &copy;<a href="#" class="dev">JB Inc.</a>All Rights reserved</span> 
        </div>
</div>